openapi: 3.2.0
info:
  title: University of Waikato Identity Provider (uowidp) Discovery…
  version: v1
  summary: OpenID Connect provider operated by the University of Waikato on its own API gateway.
  description: OpenID Connect 1.0 provider operated by the University of Waikato (Te Whare Wananga o Waikato) at https://api.svc.waikato.ac.nz/uowidp/v1.
  contact:
    name: University of Waikato ITS
    url: https://www.waikato.ac.nz/students/it-services/
    email: help@waikato.ac.nz
  termsOfService: https://www.waikato.ac.nz/copyright-and-disclaimer/
  license:
    name: No licence published for this interface
    identifier: NOASSERTION
  x-operator: institution
  x-provenance:
    generated: '2026-09-01'
    method: derived
    source: https://api.svc.waikato.ac.nz/uowidp/v1/.well-known/openid-configuration
    note: Derived by API Evangelist from the institution's own live OIDC discovery document and JWKS. The University of Waikato does not publish an OpenAPI for this service; this document is not theirs and must not be credited to them as a published specification.
servers:
- url: https://api.svc.waikato.ac.nz/uowidp/v1
  description: Production issuer, declared as `issuer` in the discovery document.
security:
- uowidp: []
tags:
- name: Discovery
  description: OpenID Provider metadata and signing keys.
paths:
  /.well-known/openid-configuration:
    get:
      tags:
      - Discovery
      operationId: getOpenIdConfiguration
      summary: OpenID Provider metadata
      description: Returns the OpenID Connect Discovery 1.0 metadata document for the University of Waikato identity provider. Verified live 2026-09-01, HTTP 200, 868 bytes, application/json.
      security: []
      responses:
        '200':
          description: Provider metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdProviderMetadata'
              examples:
                live:
                  summary: Response captured 2026-09-01
                  externalValue: ../examples/university-of-waikato-uowidp-discovery-example.json
  /oidc/keys:
    get:
      tags:
      - Discovery
      operationId: getJwks
      summary: JSON Web Key Set
      description: Returns the RSA signing keys used to verify id_tokens issued by this provider. Declared as `jwks_uri` in the discovery document. Verified live 2026-09-01, HTTP 200, 2871 bytes.
      security: []
      responses:
        '200':
          description: JSON Web Key Set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonWebKeySet'
components:
  schemas:
    OpenIdProviderMetadata:
      type: object
      description: OpenID Connect Discovery 1.0 metadata as published by this provider.
      required:
      - issuer
      - authorization_endpoint
      - token_endpoint
      - jwks_uri
      properties:
        issuer:
          type: string
          format: uri
          const: https://api.svc.waikato.ac.nz/uowidp/v1
        authorization_endpoint:
          type: string
          format: uri
        token_endpoint:
          type: string
          format: uri
        end_session_endpoint:
          type: string
          format: uri
        jwks_uri:
          type: string
          format: uri
        userinfo_endpoint:
          type: string
          format: uri
          description: Advertised as https://graph.microsoft.com/v1.0/me — Microsoft Graph, not a University of Waikato host. Userinfo is served by the university's Entra ID tenant.
        scopes_supported:
          type: array
          items:
            type: string
            enum:
            - openid
            - profile
            - email
        response_types_supported:
          type: array
          items:
            type: string
            enum:
            - code
            - id_token
            - code id_token
        response_modes_supported:
          type: array
          items:
            type: string
            enum:
            - query
            - fragment
            - form_post
        id_token_signing_alg_values_supported:
          type: array
          items:
            type: string
            enum:
            - RS256
        token_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
            enum:
            - client_secret_post
        claims_supported:
          type: array
          items:
            type: string
            enum:
            - iss
            - aud
            - nbf
            - exp
            - iat
            - nonce
            - Username
            - name
            - ver
            - oid
            - sub
        request_uri_parameter_supported:
          type: boolean
          const: false
        http_logout_supported:
          type: boolean
          const: false
        frontchannel_logout_supported:
          type: boolean
          const: true
    JsonWebKeySet:
      type: object
      required:
      - keys
      properties:
        keys:
          type: array
          items:
            type: object
            required:
            - kty
            - use
            - kid
            - e
            - n
            properties:
              kty:
                type: string
                const: RSA
              use:
                type: string
                const: sig
              kid:
                type: string
              e:
                type: string
              n:
                type: string
  securitySchemes:
    uowidp:
      type: openIdConnect
      openIdConnectUrl: https://api.svc.waikato.ac.nz/uowidp/v1/.well-known/openid-configuration
      description: OpenID Connect against the University of Waikato identity provider. Clients are registered by University of Waikato ITS; there is no dynamic client registration endpoint in the discovery document.
externalDocs:
  description: Live OpenID Provider discovery document
  url: https://api.svc.waikato.ac.nz/uowidp/v1/.well-known/openid-configuration
