openapi: 3.2.0
info:
  title: University of Waikato Identity Provider (uowidp) Session API
  version: v1
  summary: OpenID Connect provider operated by the University of Waikato on its own API gateway.
  description: OpenID Connect 1.0 provider operated by the University of Waikato (Te Whare Wananga o Waikato) at https://api.svc.waikato.ac.nz/uowidp/v1.
  contact:
    name: University of Waikato ITS
    url: https://www.waikato.ac.nz/students/it-services/
    email: help@waikato.ac.nz
  termsOfService: https://www.waikato.ac.nz/copyright-and-disclaimer/
  license:
    name: No licence published for this interface
    identifier: NOASSERTION
  x-operator: institution
  x-provenance:
    generated: '2026-09-01'
    method: derived
    source: https://api.svc.waikato.ac.nz/uowidp/v1/.well-known/openid-configuration
    note: Derived by API Evangelist from the institution's own live OIDC discovery document and JWKS. The University of Waikato does not publish an OpenAPI for this service; this document is not theirs and must not be credited to them as a published specification.
servers:
- url: https://api.svc.waikato.ac.nz/uowidp/v1
  description: Production issuer, declared as `issuer` in the discovery document.
security:
- uowidp: []
tags:
- name: Session
  description: Front-channel session termination.
paths:
  /logout:
    get:
      tags:
      - Session
      operationId: endSession
      summary: End-session endpoint
      description: Front-channel logout. Declared as `end_session_endpoint`; `frontchannel_logout_supported` is true and `http_logout_supported` is false. Verified live 2026-09-01, HTTP 302.
      security: []
      parameters:
      - name: post_logout_redirect_uri
        in: query
        required: false
        schema:
          type: string
          format: uri
      - name: id_token_hint
        in: query
        required: false
        schema:
          type: string
      responses:
        '302':
          description: Redirect after session termination.
components:
  securitySchemes:
    uowidp:
      type: openIdConnect
      openIdConnectUrl: https://api.svc.waikato.ac.nz/uowidp/v1/.well-known/openid-configuration
      description: OpenID Connect against the University of Waikato identity provider. Clients are registered by University of Waikato ITS; there is no dynamic client registration endpoint in the discovery document.
externalDocs:
  description: Live OpenID Provider discovery document
  url: https://api.svc.waikato.ac.nz/uowidp/v1/.well-known/openid-configuration
